* {
    margin: 0;
    padding: 0;
}

:root {
    --page-width: 80%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

header,
main {
    width: var(--page-width);
}

nav,
ul {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.logo {
    font-size: 1.5rem;
    margin-left: 1%;
}

ul {
    margin-right: 1%;
}

li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1.1rem;
}

li > a {
    text-decoration: none;
    color: #000;
}

.hero {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero > img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    filter: brightness(75%);
}

.hero > h1 {
    margin-bottom: 2.25rem;
    text-transform: uppercase;
    font-size: 3rem;
}

.hero > p {
    margin-top: 2.25rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.135rem;
}

.hero > h1,
.hero > p {
    position: absolute;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

.dishes-section {
    padding: 2.5%;
}

.dishes-section > div > img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.dishes-section > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dishes-section > div:last-of-type {
    flex-flow: row-reverse;
}

.dishes-section > div > p {
    padding: 0 10%;
}

.logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    padding: 2.5%;
    margin-bottom: 2.5%;
}

.logo-section > img {
    width: 300px;
    height: 100px;
    object-fit: contain;
}