* {
    margin: 0;
    padding: 0;
}

:root {
    --page-width: 80%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

header,
main {
    width: var(--page-width);
}

nav,
ul {
    display: flex;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.logo {
    font-size: 1.5rem;
    margin-left: 1%;
}

ul {
    margin-right: 1%;
}

li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1.1rem;
}

li > a {
    text-decoration: none;
    color: #000;
}
